
<p *ngIf="!mancala.gameOver">PLAYER'S TURN : {{playerTurn}}</p>
<p *ngIf="mancala.gameOver">GAME OVER! THE WINNER IS <strong>{{mancala.winner}}</strong>!!</p>

<p>P1</p>
<table>
  <tr>
    <td rowspan="3">{{mancala.p1Pits[6]}}</td>
  </tr>
  <tr>
    <td (click)="move(mancala.id, player.ONE, 5)">{{mancala.p1Pits[5]}}</td>
    <td (click)="move(mancala.id, player.ONE, 4)">{{mancala.p1Pits[4]}}</td>
    <td (click)="move(mancala.id, player.ONE, 3)">{{mancala.p1Pits[3]}}</td>
    <td (click)="move(mancala.id, player.ONE, 2)">{{mancala.p1Pits[2]}}</td>
    <td (click)="move(mancala.id, player.ONE, 1)">{{mancala.p1Pits[1]}}</td>
    <td (click)="move(mancala.id, player.ONE, 0)">{{mancala.p1Pits[0]}}</td>
    <td rowspan="2">{{mancala.p2Pits[6]}}</td>
  </tr>
  <tr>
    <td (click)="move(mancala.id, player.TWO, 0)" >{{mancala.p2Pits[0]}}</td>
    <td (click)="move(mancala.id, player.TWO, 1)" >{{mancala.p2Pits[1]}}</td>
    <td (click)="move(mancala.id, player.TWO, 2)" >{{mancala.p2Pits[2]}}</td>
    <td (click)="move(mancala.id, player.TWO, 3)" >{{mancala.p2Pits[3]}}</td>
    <td (click)="move(mancala.id, player.TWO, 4)" >{{mancala.p2Pits[4]}}</td>
    <td (click)="move(mancala.id, player.TWO, 5)" >{{mancala.p2Pits[5]}}</td>
  </tr>
</table>
<p>P2</p>

<div id="outer">
  <div class="inner"><button (click)="createGame()">NEW GAME</button></div>
  <div class="inner"><button (click)="resetGame(mancala.id)">RESET GAME</button></div>
</div>





