html, body {
  background-color: #f7e7be !important;
}

table {

  border: 2px solid #009f92;
  width: 50%;
  border-radius: 25px;
  background: #009f92c2;
  padding: 20px;
  width: 800px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

td {
  text-align: center;
  background-color:#fe9e84cf;
  height:50px;
  width:50px;
  border-radius:50%;
  border:5px solid #00777b;
  margin:auto;
  color:#000;
  line-height:50px;
  text-align:center

}

#outer
{
    width:100%;
    text-align: center;
}


.inner, button
{
    margin: 10px;
    padding: 10px;
    display: inline-block;
}
button{
  border-color: #e0c06c;
  color: #f7e7be;
  background: #fe9e84;
}

p, h1 {
text-align: center;
line-height: 100px;
}

p {
font-size: 150%;
}

